
.groupHeader {
    margin-left: 40px;
}

.groupContent {
    margin-left: 40px;
}

.columnHeader {
    display: inline-block;
    font-size: 14px;
}

.groupColumnContent {
  text-align: center;
    margin-left: 60px;
}

.groupColumnContentInputs {

}

.center-body {
    margin: auto;
    width: 100%;
}




.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}